.alert-box{
    background: rgb(214, 134, 214);
    color: white;
    padding: 20px;
    border-radius: 5px
}
.alert-box p{
    display: inline;
}
.yellow-bg{
    background:yellow;
}
.main-background{
    background-image:url(nature.jpg);
    background-size: cover;
    color: white;
}
.black-background{
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index:5;
    width: 100%;
    height: 100%;
    display:none;
}
.white-background{
    background: white;
    width:80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}
#email-alert{
    display: none;
}
#password-alert{
    display:none;
}